*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: radial-gradient(circle at 50% -20.71%, #d1fff8 0, #befff6 10%, #a7fff4 20%, #8dfff3 30%, #6cfbf2 40%, #3cf2f2 50%, #00e8f3 60%, #00dff5 70%, #00d6f9 80%, #00cefd 90%, #00c6ff 100%);;
}
.container{
    border: solid 1px rgba(255, 255, 255, 0.2);
}
table{
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background: rgba(243, 140, 210, 0.4);
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}
td{
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
tbody tr:hover{
    cursor: pointer;
}
tbody tr:hover{
    background: rgba(243, 103, 199, 0.4);
}